@font-face {
  font-family: "Dirty Punk";
  src: url("/assets/fonts/DirtyPunk.ttf") format("truetype");
}

@font-face {
  font-family: "Chroma Jeans";
  src: url("/assets/fonts/ChromaJeans.ttf") format("truetype");
}

@font-face {
  font-family: "Qullomest";
  src: url("/assets/fonts/Qullomest.ttf") format("truetype");
}

@font-face {
  font-family: "Lavish";
  src: url("/assets/fonts/Lavish.ttf") format("truetype");
}

@font-face {
  font-family: "Ginger";
  src: url("/assets/fonts/Ginger.ttf") format("truetype");
}

@font-face {
  font-family: "Malibu";
  src: url("/assets/fonts/Malibu Sunday.ttf") format("truetype");
}
