<div class="bands-page">
  <div class="background">
    <img src="/assets/img/3-1.png" alt="">
  </div>
  <div class="edition">
    <div class="band-row">
      <div class="left">
        <div class="logo">
          <img src="/assets/img/logo-star.svg" alt="">
        </div>
      </div>
      <div class="right">
        <div class="edition-title">
          <h1>1. Camaleão Cultural</h1>
          <span>23/08/2025</span>
        </div>
        <div class="edition-bands">
          <div class="band-card  middle">
            <div class="name">
              <h2>Peach Eyes</h2>
              <div class="icon-container" (click)="redirectToSpotify('peach')">
                <app-svg-icons name="spotify" />
              </div>
            </div>
            <div class="text">
              <div class="text-section">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </span>
              </div>
              <div class="band-pic">
                <img src="/assets/img/band.jpg" alt="">
                <iframe style="border-radius:12px"
                  src="https://open.spotify.com/embed/artist/6FgH2SOdyVedZHM1RcBmcZ?utm_source=generator" width="100%"
                  height="352" frameBorder="0" allowfullscreen=""
                  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy"></iframe>
              </div>
              <div class="text-section">
                <span>ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              </div>
            </div>
          </div>
          <div class="band-card end">
            <div class="name">
              <h2>Marcos Gabriel Faria</h2>
              <div class="icon-container" (click)="redirectToSpotify('marcos')">
                <app-svg-icons name="spotify" />
              </div>
            </div>
            <div class="text">
              <div class="text-section">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</span>
              </div>
              <div class="band-pic">
                <img src="/assets/img/band.jpg" alt="">
                <iframe style="border-radius:12px"
                  src="https://open.spotify.com/embed/artist/6ASlWKKXb9MaNKSaqO45Hz?utm_source=generator" width="100%"
                  height="352" frameBorder="0" allowfullscreen=""
                  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy"></iframe>
              </div>
            </div>
          </div>
          <div class="band-card start">
            <div class="name">
              <h2>Portokali</h2>
              <div class="icon-container">
                <app-svg-icons name="spotify" (click)="redirectToSpotify('portokali')"/>
              </div>
            </div>
            <div class="text">
              <div class="band-pic">
                <img src="/assets/img/band.jpg" alt="">
                <iframe style="border-radius:12px"
                  src="https://open.spotify.com/embed/artist/6KQleahKGQBJc1j3nby1OM?utm_source=generator" width="100%"
                  height="352" frameBorder="0" allowfullscreen=""
                  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy"></iframe>
              </div>
              <div class="text-section">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</span>
              </div>
            </div>
          </div>
          <div class="band-card  middle">
            <div class="name">
              <h2>Pepler</h2>
              <div class="icon-container">
                <app-svg-icons name="spotify" (click)="redirectToSpotify('pepler')"/>
              </div>
            </div>
            <div class="text">
              <div class="text-section">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </span>
              </div>
              <div class="band-pic">
                <img src="/assets/img/band.jpg" alt="">
                <iframe style="border-radius:12px"
                  src="https://open.spotify.com/embed/artist/3NZz58X0JVwy9wWIUkUmCj?utm_source=generator" width="100%"
                  height="352" frameBorder="0" allowfullscreen=""
                  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                  loading="lazy"></iframe>
              </div>
              <div class="text-section">
                <span>ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="guests-section">
          <div class="guests-title">
            <h1>Convidados Especiais</h1>
          </div>
          <div class="guests-row">
            <div class="guest-card">
              <div class="img-container">
                <img src="/assets/img/band.jpg" alt="">
              </div>
              <div class="guest-text">
                <div class="row">
                  <h1>Zine Gororoba</h1>
                  <div class="icon-container">
                    <app-svg-icons name="maximize" />
                  </div>
                </div>
                <span>Vendendo Zines e Prints</span>
              </div>
            </div>
            <div class="guest-card">
              <div class="img-container">
                <img src="/assets/img/band.jpg" alt="">
              </div>
              <div class="guest-text">
                <div class="row">
                  <h1>Lorem Ipsum</h1>
                  <div class="icon-container">
                    <app-svg-icons name="spotify" />
                  </div>
                </div>
                <span>Participação Especial da banda</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="decor">
      <hr>
      <div class="icon-container">
        <img src="/assets/img/diamond.svg" alt="">
      </div>
      <hr>
    </div>
  </div>
</div>
