<div class="tickets-page">
  <div class="background">
  </div>
  <div class="page-container">
    <div class="card-feed">
      <div class="pixta-card">
        <div class="left-card">
          <div class="pixta-logo">
            <app-svg-icons name="pixta"></app-svg-icons>
          </div>
          <div class="pixta-title">
            <h1>Lote Promocional: 20R$</h1>
            <span>23/08/25 - Camaleão Cultural</span>
          </div>
          <div class="button">
            <span>Compre já!</span>
            <div class="icon-container">
              <app-svg-icons name="maximize"></app-svg-icons>
            </div>
          </div>
        </div>
        <div class="logo-simple">
          <div class="img-container">
            <img src="/assets/img/logo-simple.svg" alt="">
          </div>
        </div>
      </div>
      <div class="pixta-card odd">
        <div class="left-card">
          <div class="pixta-logo">
            <app-svg-icons name="pixta"></app-svg-icons>
          </div>
          <div class="pixta-title">
            <h1>Primeiro Lote: 25R$</h1>
            <span>23/08/25 - Camaleão Cultural</span>
          </div>
          <div class="button">
            <span>Compre já!</span>
            <div class="icon-container">
              <app-svg-icons name="maximize"></app-svg-icons>
            </div>
          </div>
        </div>
        <div class="logo-simple">
          <div class="img-container">
            <img src="/assets/img/logo-simple.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
