  .home-page {
    width: 100%;
    height: 100%;

    .video-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.42);
      width: 100vw;
      height: 100vh;
    }

    .video-bg {
      position: relative;
      height: 100vh;
      z-index: 1;

      video {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        object-fit: cover;
      }
    }

    .content-wrapper {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;


      @media screen and (max-width: 768px) {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        margin-top: 15vh;
        height: fit-content !important;

        .left, .right{
          width: 100% !important;
          align-items: center !important;
          margin-right: 0px !important;

          .content{
            width: 95% !important;
            height: fit-content !important;
            text-align: center;

            &.title{
              margin-bottom: 2rem;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      .left,
      .right {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .content {
          height: fit-content;
          width: 25rem;
          height: 23rem;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: start;

          &.title {
            border-top: 10px solid #6d1111;

            h1,
            h2 {
              font-size: 55px;
              color: #ffffff;
              font-family: "Chroma Jeans";
              letter-spacing: 6px;
            }

            h2 {
              font-size: 30px !important;
              letter-spacing: 16px;
            }

          }

          .description {
            font-family: "Lavish";
            letter-spacing: 2px;
            line-height: 26px;
            color: white;
            position: relative;
            top: -1rem;
          }
        }

      }

      .left {
        align-items: end;
        margin-right: 3.5rem;
      }

      .right {
        align-items: start;
      }

    }
  }
