<div class="home-page">
  <div class="video-bg">
    <div class="video-overlay">
    </div>
    <video src="/assets/videos/edited.mp4" autoplay muted loop></video>
  </div>
  <div class="content-wrapper">
    <div class="left">
      <div class="content title">
        <h1>Jester Fest</h1>
        <h2>Festival de Música Para Bufões</h2>
      </div>
    </div>
    <div class="right">
      <div class="content">
        <span class="description">
          <strong>🎺📜 PROCLAMAÇÃO REAL AO POVO MUSIQUEIRO📜🎺</strong>
          <br/>
          Ó vós, malabaristas do fone enroscado
          <br>
          Que dançais no ônibus com olhar disfarçado
          <br />
          <!-- — O lo-fi murmura com tom encantado,
          feito brisa mansa num dia nublado.
          <br />
          — A MPB canta com alma e calor,
          um samba, um choro, um beijo, um amor.
          <br />
          — O pop punk berra verdades cruéis,
          com coragem e riffs fiéis.
          <br />
          — E o indie rock vagueia além do chão,
          cabeça nas nuvens, pés na canção.
          <br /> -->
          Dizem os antigos — ou um bêbado lúcido na esquina —
          que essa folia cura mais que aspirina.
          Não se vive, meu caro, se atravessa em tropéis,
          com o peito em chamas e passos fiéis!
          A festa é loucura, um baile sagrado,
          com gente esquisita e som abençoado.
          Não vos furteis, meu caro, não vos furteis
          <br />
          Quem dança sem medo já vale por seis!
          <br />
          Está proclamado. Está selado.
          Quem não for já foi cancelado.
        </span>
        <div class="button" (click)="redirectTo('tickets')">
          Ingressos
          <img src="/assets/img/play.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
